<div class="row">
  <div class="col-md-2"><h5>Filter with Price:</h5></div>
  <div class="col-md-10">
    <input [(ngModel)]="listFilter" class="form-control" placeholder="Filter with Price:">
  </div>

  <app-products [listFilterinChild]="listFilter" (productCart)="fun1($event)"></app-products>

  <caption><h3>Cart:</h3></caption>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Total</th>
        <th scope="col">Del</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <td>{{ item.Name|lowercase }}</td>
        <td>{{ item.Price|currency }}</td>
        <td>{{ item.Count }}</td>
        <td>{{ item.Total|currency }}</td>
        <td><button (click)="deleteItem(item)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>